[Unit]
Description=Yamper AI Voice Robot
After=sound.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/yamper/software
EnvironmentFile=-/home/pi/yamper/software/.env
ExecStart=/usr/bin/python3 -m yamper.main
Restart=always
RestartSec=10

# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=yamper

[Install]
WantedBy=multi-user.target
